/* ********************** code for search-box ********************** */
.boxContainer {
    /* margin: auto; */
    // margin-top: 5%;
    // margin-left: -20%;
    position: relative;
    
    width: 28vw;
    height: 6vh;
    border: 1px solid #adadad;
    padding: 0px 1vw;
    border-radius: 50px;
}

.elementsContainer {
    width: 100%;
    height: 100%;
    vertical-align: middle !important; 
}

.search {
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 18px;
    font-family: "Nunito";
    /* color: #424242; */
    color: #bababa;
    background-color: rgba(0, 0, 0, 0);
    font-weight: 500;
}

.search:focus {
    outline: none;
    border: none;
    
}

.material-icons {
    font-size: 26;
    margin-top: 15%;
    color: #adadad;         /* **** Color set for search **** */
    /*color: #2980b9;         /* **** Color set for search **** */
}

/* ****************************************************************** */


/* ********************** css for query-search result ********************** */

.search-query-container{
    z-index: 19;
    display:none;
    position:relative; 
    background-color: white;
    color:black;
    width:23em;

    border-radius: 0em 0em 0.3em 0.3em;
    
    margin-left: -4em;
}






.nav-search-container:focus-within .search-query-container{
    display: block;
    position:fixed;
    
    // -----------------------glass morphism effect----------------
    backdrop-filter: blur(0.5rem);
    box-shadow: .3em .3em .7em rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.342);
    // background-color: rgba(225, 225, 225, 0.2);
}


/* ******************* css for searched-user-row ******************* */
.userImage{
    height: 1rem;
    width: 1rem;
    border-radius: 30%;
  }

.search-follow-btn{
    margin-left: auto;
    background-color: #077bff;
    border: none;
    color: white;
    font-family: "Nunito";
    font-weight: 500;
    padding: 1% 3%;
    border-radius: 5px;
}

.search-unfollow-btn{
    margin-left: auto;
    color: #ffffff;
    background-color: rgb(23, 30, 36);
    border: none;
    font-family: "Nunito";
    font-weight: 500;
    padding: 1% 3%;
    border-radius: 5px;
}


.search_user_name{
    color:white;
    text-decoration: none;

    margin: 0px;
    transition: .5s;
}
.search_user_name:hover{
    color:rgb(206, 227, 255);
}

.searchEmail{
    color: rgb(199, 199, 199);
}

.search_userDetails{
    h6{
        margin: 0px;
        padding-top: 0.200rem;
    }
    p{
        margin: 0px;
    }
}


.post_item_header{
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border-bottom: 0.4px solid rgba(0, 0, 0, 0.149);
    // transition: .5s;
}

// .post_item_header:hover{
//     color:#bababa
// }