
.float-left{
    float: left;
}

.text-gradient{
    
background: linear-gradient(90deg,rgb(107, 253, 255) 45%, rgb(255, 108, 186) 55%);
background-size: cover;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


.auth_landingpage_card{
        border: 10px solid transparent;
        backdrop-filter: blur(0.5rem);
        box-shadow: 1.3rem 1.3rem 1.3rem rgba(255, 255, 255, 0.5);
        background-color: rgba(225, 225, 225, 0.1);
        
        /* blur not working without it*/
        overflow:auto; 

        margin: auto auto;
        width: fit-content;
        
        height: fit-content;
}

.auth-hr{
    margin-bottom: 1.2vh !important;
    margin-left: 0px !important;
}