body{
    display: flex;
    flex-direction: column;
    height: 100vh;

    scroll-behavior: smooth;

}

.landing{
    background-image: url('./component/background-image.jpg');
    background-attachment: fixed !important;
    
    background-repeat: no-repeat ;
    background-size: cover;
    color: white;
    overflow: auto;

}

.home{
    background-color: #161616;
    color: whitesmoke;
    overflow: auto;
    min-height: 100vh;
}


.bold-text{
    font-family: '-apple-system', sans-serif;
    font-size: 28px;
    font-weight: bold;
}
.montserrat{
    font-family: 'Montserrat', sans-serif;
}

.card-heading{
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
}

.card-hr{
    border-top: 0.4rem solid black;
    align-self: center;
    width: 92%;
    margin-top: -0.2rem;
    margin-bottom: -0.2rem;
}


.top-nav-link{
    padding: 1.3rem 1.3rem;
    /* background-color: #ffae00; */
    border-radius: 5rem;
    color: white;
    /* margin-top:"1rem"; */
    transition-delay: 0.1s;
    transition-duration: 0.4s;
}

.top-nav-link:hover{
    /* color: black; */
    color: #ffae00;
    text-decoration-line: underline ;
}    

